.icon {
    position: absolute;
    top: 5vh;
    left: 3vw;
    cursor: pointer;
    animation-name: rotate;
}

@keyframes rotate {
    from { 
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}
