/* Added by React */
/* ======================================== */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ======================================== */


/* Added by me */
/* ======================================== */

:root {
  background-color: #282c34;
}

.main-container {
  min-height: 95vh; /* not sure why it's min-height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  color: white;
  font-size: calc(30px + 2vmin); /* read about this more later because I'm curious */
}

.sub-header {
  position: relative;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4vh;
}

.code {
  padding: 0 1vw 0 1vw;
  color: white;
  border: 1.5px solid #1E2124;
  border-radius: 10px;
  background-color: #2E3136;
}

.font-emphasis {
  color: #5865F2;
}

.footer {
  min-height: 5vh;
  font-size: calc(3px + 2vmin);
  color: white;
}

a {
  text-decoration: none;
  color: #7289DA;
}

.about-link {
  border-bottom: 2px solid white;
  transition: 1s ease-out;
}

.about-link:hover {
  color: white;
}

.about-link:not(:hover) {
  color: #7289DA;
}
/* ======================================== */